/*Fonts*/

/*Dosis*/
@font-face {
    font-family: 'Dosis';
    src: url('fonts/dosis/dosis-regular-webfont.eot');
    src: url('fonts/dosis/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dosis/dosis-regular-webfont.woff') format('woff'), 
         url('fonts/dosis/dosis-regular-webfont.ttf') format('truetype'), 
         url('fonts/dosis/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis-Bold';
    src: url('fonts/dosis/Dosis-Bold-webfont.eot');
    src: url('fonts/dosis/Dosis-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/dosis/Dosis-Bold-webfont.woff') format('woff'), url('fonts/dosis/Dosis-Bold-webfont.ttf') format('truetype'), url('fonts/dosis/Dosis-Bold-webfont.svg#dosisbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Dosis', Verdana, Arial;
    font-size: 16px;
    font-weight: 400;
    color: #888;
    line-height: 1.875em;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
    color: #19b9e7;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

/* Wrapping element */
.main {
    width: 100%;
    min-height: 100%;
    background: #1F191A;
    clear: both;
}

/*#region General*/
.txtbox {
    height: 50px;
    margin-bottom: 15px;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Dosis', Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.button {
    height: 50px;
    margin-bottom: 25px;
    padding: 0 20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Dosis', Verdana;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.button:hover {
    opacity: 0.6;
    color: #fff;
}

.button:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}

.button:active:focus, 
.button.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}

/*#endregion General*/

/*#region Entry Content css*/
.entry-content {
    overflow: hidden;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 1em;
    font-family: 'Dosis', Verdana, Arial;
    font-weight: 400;
    clear: both;
}

.entry-content a:hover,
.entry-content a:focus {
    text-decoration:none;
}

.entry-content h1,
.entry-content h2 {
    font-family: 'Dosis', Verdana, Arial;
    font-weight: 700;
    color: #494949;
    margin-bottom: 0.4em;
    font-size: 1.875em;
    line-height: 1.2em;
    text-transform: uppercase;
}

.entry-content h3,
.entry-content h4 {
    font-family: 'Dosis', Verdana, Arial;
    font-weight: 700;
    margin-bottom: 0.4em;
    font-size: 1.650em;
    line-height: 1.2em;
    text-transform: uppercase;
}

.entry-content h5,
.entry-content h6 {
    font-family: 'Dosis', Verdana, Arial;
    font-weight: 700;
    margin-bottom: 0.4em;
    font-size: 1.550em;
    line-height: 1.2em;
    text-transform: uppercase;
}

.entry-content p,
.entry-content ul,
.entry-content ol {
    margin: 0 0 25px;
    font: 400 1.3em/1.6em 'Dosis', Verdana, Arial;
    color: #494949;
}

.entry-content img.align-left,
.entry-content img.align-right,
.entry-content img.align-center {
    margin-bottom: 1.625em;
}

.entry-content p img {
    margin-top: .4em;
}

.entry-content .align-left {
    display: inline;
    float: left;
    margin-right: 1.625em;
}

.entry-content .align-right {
    display: inline;
    float: right;
    margin-left: 1.625em;
}

.entry-content .align-center {
    display: block;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.entry-content hr,
.entry-content .hr {
    width: 100%;
    height: 100%;
    display: block;
    border-top: 1px solid #d4d4d4;
    margin: 20px auto;
    clear: both;
}

.centeredItems {
    margin: 0 auto 15px;
    overflow: hidden;
    display: block;
    list-style: none outside none;
    text-align: center;
    clear: both;
}

.entry-content .col-centered {
    float: none;
    margin: 0 auto;
}

.entry-content .label {
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
}

/*#endregion Entry Content*/

/*#region Header Content*/
.header {
    background: #FF9EB2;
}

.header-content {
    width: 100%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-logo a {
    display: inline-block;
}

.user-profile .user {
    display: inline-block;
    padding: 10px;
    font: 700 1.4em/1.6em 'Dosis', Verdana, Arial;
    vertical-align: top;
    text-transform: uppercase;
}

.header-login .cart-info span {
    display: inline-block;
    margin-bottom: 10px;
    font: 400 1em 'Dosis', Verdana, Arial;
    text-transform: uppercase;
}

.header-login .currency {
    max-width: 200px;
    float: right;
}

/*#endregion Header Content*/

/*#region Header Navigation*/
.navigation {
    background: #ccc;
}

.navigation li.first-item {
    padding-left: 0;
}

.navigation li.last-item {
    padding-right: 0;
}

.navigation ul {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.navigation ul li {
    display: inline-block;
    float: none;
}

.navigation ul li a {
    text-transform: uppercase;
}

.navbar-header {
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    clear: both;
    position: relative;
    background: none;
}

.navbar-nav {
    margin-top: 18px;
}

.navbar-brand {
    background: url(/Files/Images/logo.png) no-repeat;
    width: 110px;
    height: 35px;
    padding: 0;
    margin: 20px 30px 20px 0;
}
/*#endregion Header Navigation*/

/*#region Slideshow css*/
.cycle-slideshow {
    width: 100%;
    display: block;
    margin: 0 auto;
    clear: both;
}

.slide-btn-holder {
    clear: both;
    min-width: 90px;
    min-height: 40px;
    float: right;
    margin-bottom: 25px;
}

.slide-btn-holder .prevControl {
    width: 40px;
    height: 40px;
    background: url(/Files/Images/slide-left-btn.png) no-repeat left;
    display: block;
    float: left;
    transition: all ease 0.4s;
}

.slide-btn-holder .prevControl:hover {
    background: url(/Files/Images/slide-left-btn.png) no-repeat right;
}

.slide-btn-holder .nextControl {
    width: 40px;
    height: 40px;
    background: url(/Files/Images/slide-right-btn.png) no-repeat left;
    display: block;
    float: right;
    transition: all ease 0.4s;
}

.slide-btn-holder .nextControl:hover {
    background: url(/Files/Images/slide-right-btn.png) no-repeat right;
}

.cycle-slideshow img {
    border-radius: 5px;
}

.cycle-caption {
    text-align: left;
    font: 400 28px/1.4em 'Dosis', Verdana, Arial;
    color: #494949;
    position: absolute;
    top: -65px;
    left: 0;
}

.cycle-overlay {
    position: absolute;
    bottom: 0;
    z-index: 101;
    width: 100%;
    min-height: 120px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font: 400 14px/1.4em 'Dosis', Verdana, Arial;
    padding: 40px 35px 20px 45px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cycle-overlay div {
    width: 100%;
    overflow: hidden;
}

.cycle-overlay p {
    color: #fff;
    display: inline-block;
    font: 400 14px 'Dosis', Verdana, Arial;
}

.cycle-overlay .slideshow-read-more {
    float: right;
    color: #fff;
    font: 700 16px 'Dosis bold', Verdana, Arial;
    background: none;
    padding: 11px 24px;
    border: 3px solid #df1d38;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.cycle-overlay .slideshow-read-more:hover {
    background: #df1d38;
}

/*#endregion Slideshow*/

/*#region Forms*/

/*#region Register*/
.register {
    overflow: hidden;
    margin: 30px 0;
    text-align: center;
}

.register .address {
    width: 340px;
}

/*#endregion Register*/

/*#region Orders*/
.orders {
}

.orders .label {
    
}

.orders-content {
    overflow: hidden;
}

.orders-content .ordered-cake {
    overflow: hidden;
    background: #f5f5f5;
    border-radius: 5px;
     padding: 10px 0; 
    margin-bottom: 15px;
}

.orders-content .ordered-cake .order-info {
    padding: 30px 0 10px;
}

.orders-content .ordered-cake img {
    width: 150px;
    height: 150px;
}

.orders-content .ordered-cake .title {
    display: block;
    margin-bottom: 10px;
    font: 700 1.675em/1.4em Dosis, Arial;
}

.orders-content .ordered-cake .price-label,
.orders-content .ordered-cake .price,
.orders-content .ordered-cake .quantity-label,
.orders-content .ordered-cake .quantity {
    margin-bottom: 10px;
    display: inline-block;
}

.orders-content .ordered-cake .price-label,
.orders-content .ordered-cake .quantity-label {
    font: 400 1.5em/1.4em 'Dosis', Verdana, Arial;
}
.orders-content .ordered-cake .price,
.orders-content .ordered-cake .quantity {
    font: 700 1.5em/1.4em 'Dosis', Verdana, Arial;
}

.totalprice span {
    display: inline-block;
    padding: 13px 0;
    font: 700 1.875em Dosis, Verdana, Arial;
    text-transform: uppercase;
}

/*#endregion Orders*/

/*#region Products*/
.products {
    margin-bottom: 30px;
    border-bottom: 3px solid #f5f5f5;
}

.products .form-control {
    margin-bottom: 15px;
    cursor: pointer;
}

.products .txtbox {
    width: 100%;
    padding: 10px;
}

.products .txtbox-custom {
    height: 100px;
    line-height: 1em !important;
}

.products-content {
    overflow: hidden;
    padding-bottom: 35px;
}

.products-content .categories {
    overflow: hidden;
    margin-bottom: 30px;
    text-align: center;
}

.products-content .categories .button {
    margin-left: 15px;
    margin-right: 15px;
}

.products-cake {
    overflow: hidden;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 15px 0;
    margin-bottom: 15px;
}

.products-content .title {
    display: block;
    margin: 10px 0;
    font: 700 1.675em/1.4em Dosis, Arial;
    text-align: center;
}

.products-content .price,
.products-content .price-label,
.products-content .quantity {
    display: block;
    margin: 10px 0;
    font: 700 1.6em Dosis, Arial;
    text-align: center;
}

.products-content .price-label,
.products-content .quantity {
    font: 400 1.5em Dosis, Arial;
}

.products-cake .form-control {
    max-width: 80px;
    margin: 0 auto 10px;
}

/*#endregion Products*/

/*#region Users Order List*/
.usersorder-list {
    overflow: hidden;
    padding-bottom: 50px;
}

.usersorder-list .form-control {
    width: 120px;
    margin-bottom: 15px;
}

/*#endregion Users Order List*/

/*#endregion Forms*/

/*#region Footer*/
.footer {
    width: 100%;
    background: #FF9EB2;
    clear: both;
    border-top: 1px solid #d4d4d4;
}

.footer-content {
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
}

/*#endregion Footer*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 25px;
        width: 100%;
        padding: 0 !important;
        position: relative;
    }
}

.js-carSearchRedirect {
    visibility: hidden;
}

/*#region Media Queries */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .navbar-header {
        float: none !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}

/*#endregion */